@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    font-family: "Hellix", "JetBrains Mono", monospace;
  }

  a {
    text-decoration: none !important;
  }
}

@layer utilities {
  .horizontal-scroll {
    overflow: scroll;
  }
  .horizontal-scroll::-webkit-scrollbar {
    display: none;
  }
  .horizontal-scroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

::-webkit-scrollbar {
  display: none;
}
